<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
          <link rel="icon" href="/image/weather.png" type="image/gif">
         <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
          <h4>Error page 404</h4>
        </div>
        
        {{>footer}}
    </body>
</html>