<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
          <link rel="icon" href="/image/weather.png" type="image/gif">
        <link rel="stylesheet" href="./css/style.css">

    </head>
    <body>
        <div class="main-content">
 
 {{!-- rendering partials --}}
 
        {{>header}}
     
        <p>{{name}}</p>

        <img src="/image/main.jpg" alt="Creator" class="creator">
        </div>

       
          {{>footer}}
    </body>
</html>