<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
         <link rel="icon" href="/image/weather.png" type="image/gif">
        <link rel="stylesheet" href="./css/style.css">
       

    </head>
    <body>
    <div class="main-content">
        {{!-- rendering partials --}}
        {{>header}}
    <p>Use this site to get your weather</p>
     <form >
         <input type="search" id="search" placeholder="Search for location">
         <button id="btn"> Search</button>
     </form>
     <p id="msg1"></p>
     <p id="msg2"></p>

        </div>

        {{>footer}}

                  <script src='/js/app.js'> </script>
    </body>
</html>